
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}
section {
  margin: auto;
  width: 1300px;  
}
.card {
  display: inline-block;
  width: 300px;
  height: 350px;
  margin-top: 20px;
  margin-right: 20px;


}
.material-symbols-outlined {
  margin-top: 10px;
  margin-left: 10px; 
  display:inline-table
}
.card img { 
   width: 100%;
   object-fit: cover;
  } 
.span {
  font-size: 25px;
  font-weight: 0;

}


@media (max-width: 1200px) {
  section {
    width: 900px;
  }
  .card {
    width: 29%;
    margin: 1%;
  }
}

@media (max-width: 900px) {
  section {
    width: 600px;
  }
  .card {
    width: 47%;
    margin: 1.5%;
  }
}

@media (max-width: 600px) {
  section {
    width: 100%;
    padding: 0 10px;
  }
  .card {
    width: 100%;
    margin: 10px 0;
  }
}
body{
  margin: 0;
  padding: 0;
}


a{
  text-decoration: none;
  text-transform: uppercase ;
  color: black;
  padding: 30px 0px 25px 20px;
 
}




.button{
  margin: auto;
  color: #fff;
  width: 255px;
  height: 55.6px;
  border-width: 0.5px;
  border-radius: 23px; 
  padding: 0px ;
  background-color: #c40c2f;
  line-height: 5px;
}

.hd0{
  height: 86px;
  display:flex
  
}
.hd1{
  
  height: 100%;
  width: 195px;
  margin-left: 5% ;
 

}
.hd2{


  width: 580px;
  text-decoration: none;
  text-transform: uppercase ;
  color: black;
  padding: 30px 0px 25px 20px;
  
}
.hd3{
  

  width: 180px;
  margin-left: 30px ;
  padding: 20px 0px 0px 0px;

}
.hd4{
 
  height: 100%;
  width: 280px;
  display: flex;


}
.main-img{
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 20px;

}

.search2{

  padding-top: 10px;
  border-width: 0px 0px 2px 0px;
  height: 40px;
  width: 145px;
  display: inline-block;

 
}